{
  "presets": [
    ["env", { "targets": {"browsers": ["last 2 versions"]} }],
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "styled-components",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy",
    ["import", [
      { libraryName: "antd", style: "css" },
      { libraryName: "antd-mobile", style: "css" }
    ],
    ["@gutenye/babel-plugin-transform-imports", {
      'react-icons': {
         transform: 'react-icons/lib/${member}',
         replace: ['^(..)-', '$1/'],
         kebabCase: true,
       }
    }],
  ]
}
